name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - README.md
  schedule:
    - cron: '55 5 * * 1-5'

jobs:
  versions:
    name: Go ${{ matrix.go-version }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        go-version: [1.19.x, 1.20.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Install Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - name: Run fmt and vet
        run: make fmt vet

      - name: Check if directory is clean
        run: git diff --exit-code

      - name: Print SSH version
        run: ssh -V

      - name: Test
        run: make test
